body{
    margin: 0;
    padding:0;
}
.icon{
    font-size:30px;
    color:rgb(58, 95, 34);
}
.bg-form{
    background: linear-gradient(to right, rgb(110, 107, 107), rgb(185, 164, 92));
}
.city-taxi-p{
    width: 30%;
    margin: auto;
}
#booking-details{
    background-image: url("images/111.jpg");
    display: block;
    background-size: cover;
    background-position: center;
}
.form-details{
    padding: 1rem;
}
form{
    padding: 1rem;
}
.form-control{
    background-color: rgb(216, 216, 216);
}
.input-group-text{
    border: none;
      background-color: rgb(216, 216, 216);
}

@media (max-width: 575.98px) {      

    form{
        padding:0;
    }
    .h1-form, .p-form {
        display: none;
    }
    #booking-details{
        padding-top: 1rem;
    }
   
}
@media (min-width: 600px) and (max-width: 998px) {
    .h1-form, .p-form {
        display: none;
    }
    #booking-details{
        padding-top: 1.5rem;
    }
    .icon{
        font-size:20px;
        padding-right: 20px;
        color:rgb(58, 95, 34);
    }   
}
select{
    -webkit-appearance:none ;
    appearance: none;
}